#body{
    background-color:#0f0f0f;
    margin: 0;
    padding: 0;
}

#header a {
    color:#0f0f0f;
}
#logo{
    max-width: 50px;
}
.flex-shrink-0 {
    height: 25rem;
}

.text-uppercase {
    color: #fff;
}

.mt-4 {
    color: #d48921;
}

.fs-6 {
    color: rgb(255, 255, 255);

}

.container_descripcion {
    background-color: rgb(18, 18, 18);
    border: #d48921 1px solid;
    height: 15rem;
    width: 15rem;
    margin: auto;
    top: 25px;
    right: 250px;
    position: absolute;
}

.container_descripcion .fs-6 {
    padding: 5px;
}

.btn-secondary {
    background-color: #d48921;
    color: #000;
}

.btn-outline-secondary {
    background-color: #d48921;
    color: #000;
}
#footer{
    background-color: #D48921;
    color:#0f0f0f;
}
.rounded{
    height:15rem ;
}
.modal-title{
    color: #fff;
}