#body {
    background: #0f0f0f;
    margin: 0;
    padding: 0;
}

#header a {
    color: #0f0f0f;
}

#footer {
    background-color: #D48921;
    color: #0f0f0f;
}

#logo {
    max-width: 50px;
}


.flex-shrink-0 {
    height: 19rem;
}

.text-uppercase {
    color: #fff;
}

.mt-4 {
    color: #d48921;
}

.fs-6 {
    color: rgb(0, 0, 0);

}

.container_descripcion {
    background-color: rgb(0, 0, 0);
    border: #d48921 1px solid;
    height: 15rem;
    width: 15rem;
    margin: auto;
    top: 25px;
    right: 250px;
    position: absolute;
}

.container_descripcion .fs-6 {
    padding: 5px;
}

.btn-secondary {
    background-color: #d48921;
    color: #000;
}

.btn-outline-secondary {
    background-color: #d48921;
    color: #000;
}

.rounded {
    height: 15rem;
}

.modal-content {
    background-color: #000;
}

.modal-title {
    color: #fff;
}

.w-100 {

    width: 30rem !important;
    height: 25rem;
}

.p-md-4 {
    padding: 1.5rem !important;
    background-color: black;
}

.ps-md-0 {
    padding-left: 0 !important;
    background-color: black;
}