#body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#header a {
    color: #fff;
}

#logo {
    max-width: 50px;
}

#footer {
    background-color: #d48921;
}


#evento-marca {
    background-color: #000000;
    color: #d48921;
}

#evento-marca img {
    background-color: #d48921;
    color: #000000;
    max-width: 100%;
    width: 40rem;
    height: 20rem;
}

.form-select {
    position: relative;
    align-items: center;
}
